/dialogi/data/camda_in/valid-ds0.orig
/dialogi/data/camda_in/valid-ds1.orig
/dialogi/data/embedded/chemical_checker_sign2/
/dialogi/data/embedded/ctdbase/
/dialogi/data/embedded/glove_wiki_embeddings/
/dialogi/data/embedded/node2vec_snap/
/dialogi/data/embedded/stringppi_v11.0/
/dialogi/data/embedded/xmlmesh_2022/
/dialogi/data/embedded/concept_embeddings.pkl
/dialogi/data/embedded/milner_drugbank_postgresql.zip
/dialogi/data/model_out/figures/
/dialogi/data/model_out/pickle_jar/docs-neg_public_coarse.pkl
/dialogi/data/model_out/pickle_jar/docs-pos_public_coarse.pkl
/dialogi/data/model_out/pickle_jar/docs-val0_public_coarse.pkl
/dialogi/data/model_out/pickle_jar/docs-val1_public_coarse.pkl
/dialogi/data/model_out/pickle_jar/utb-neg_public.pkl
/dialogi/data/model_out/pickle_jar/utb-pos_public.pkl
/dialogi/data/model_out/pickle_jar/utb-val0_public.pkl
/dialogi/data/model_out/pickle_jar/utb-val1_public.pkl
/dialogi/data/model_out/pickle_jar/vecs-neg_public.pkl
/dialogi/data/model_out/pickle_jar/vecs-pos_public.pkl
/dialogi/data/model_out/pickle_jar/vecs-val0_public.pkl
/dialogi/data/model_out/pickle_jar/vecs-val1_public.pkl
/public_results/kt_ncvbayes/
/poetry.lock
